*{
  font-family: Arial, sans-serif;
  box-sizing:border-box;
  color:lightslategrey;
 }
 
 .body {
  background-color: azure;
 }
 
 .container {
  max-width:fit-content;
  min-height:fit-content;
  padding:10px; 
  margin:auto;
  text-align:center;
  background-color:rgb(223, 242, 236);
  border-radius:10px;
 }
 
 .frases {
  margin:10px;
  padding:8px;
  border-radius:10px;
  border:2px solid silver;
  background-color:azure;
 }
 
 .fas {
  max-width:96%;
  min-height:80px;
  padding:8px;
  margin:10px auto;
  border:2px solid silver;
  border-radius:10px;
  font-size:1.25em;
  font-family:Arial, sans-serif;
  text-align:center;
  
 }

 ::placeholder {
  color: silver;
  opacity:1;
 }

 button {
  border-radius:10px;
  border:2px solid lightslategrey;
  padding:5px;
  margin:8px;
  font-size:1.25em;
  background-color:azure;
  cursor:pointer;
  transition:border-color 0.25s;
 }
 
 .richtig {
  font-size:1.25em;
  border: 2px solidgrey;
  color:white;
  background-color:limegreen;
 }
 
 .falsch {
  font-size:1.25em;
  border: 2px solidgrey;
  color:white;
  background-color:tomato;
 }
 
 .nxtBtn {
  border-radius:10px;
  border:2px solid grey;
  margin:8px;
  font-size:1.25em;
  font-family: Arial, sans-serif;
  cursor:pointer;
 }